<!-- Add navigation links to this file -->
<li><%= link_to 'Home', root_path %></li>

<!-- Simple tests -->
<li class="dropdown">  
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Support <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li class="dropdown-header">We're here to help</li>
    <li><%= link_to 'Documentation', 'http://xirsys.com/_static_content/xirsys.com/docs/index.php/Client%20Documentation%20(Beta)/Overview' %></li>
    <li><%= link_to 'Contact us', demo_path('contact') %></li>
  </ul>
</li>

<!-- Simple tests -->
<li class="dropdown">  
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Simple tests <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li class="dropdown-header">XirSys tests</li>
    <li><%= link_to 'Get ICE servers test', demo_path('get_ice_servers_test') %></li>
    <li><%= link_to 'Get token test', demo_path('get_token_test') %></li>
    <li><%= link_to 'Add room test', demo_path('add_room_test') %></li>
    <li><%= link_to 'Join room test', demo_path('join_room_test') %></li>
    <li class="divider"></li>
    <li class="dropdown-header">External tests</li>
    <li><%= link_to 'Connectivity check', 'http://check-connectivity.com' %></li>
  </ul>
</li>

<!-- Simple demos -->
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Simple demos <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li class="dropdown-header">Video chat demos</li>
    <li><%= link_to 'One-to-one video', demo_path('one_to_one_video') %></li>
    <li><%= link_to 'Many-to-many video', demo_path('many_to_many_video') %></li>
    <li class="divider"></li>
    <li class="dropdown-header">Text chat demos</li>
    <li><%= link_to 'One-to-one text', demo_path('one_to_one_text') %></li>
    <li><%= link_to 'Many-to-many text', demo_path('many_to_many_text') %></li>
    <li class="divider"></li>
    <li class="dropdown-header">Multifunctional demos</li>
    <li><%= link_to 'Kitchen sink™', demo_path('kitchen_sink') %></li>
  </ul>
</li>