<!-- Add navigation links to this file -->
<li><%= link_to 'Get ICE servers test', demo_path('get_ice_servers_test') %></li>
<li><%= link_to 'Get token test', demo_path('get_token_test') %></li>
<li><%= link_to 'Add room test', demo_path('add_room_test') %></li>
<li><%= link_to 'One-to-one video', demo_path('one_to_one_video') %></li>
<li><%= link_to 'Many-to-many video', demo_path('many_to_many_video') %></li>